.Simple__btn {
    color: #E5E5E5;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    background: #E50914;
    padding: 10px 34px;
}