.Button {
    color: #E5E5E5;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    /* cursor: pointer; */
}

.Large {
    padding: 10px 34px;
}

.Small {
    padding: 5px 17px;
}

.checked {
    background: transparent;
    border: 1px solid #E50914;
}

.removed {
    background: #E50914;
}
